/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */
.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}
.hljs-comment,
.hljs-meta {
  color: #969896;
}
.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}
.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}
.hljs-section,
.hljs-name {
  color: #63a35c;
}
.hljs-tag {
  color: #333333;
}
.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}
.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}
.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.hljs-link {
  text-decoration: underline;
}
.dropdown {
  display: inline-block;
}
.dropdown__content {
  display: none;
  position: absolute;
}
.dropdown--active .dropdown__content {
  display: block;
}
body {
  padding: 40px 80px;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}
a {
  text-decoration: none;
}
.account-dropdown__avatar {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  border-radius: 3px;
}
.account-dropdown .dropdown__trigger {
  line-height: 20px;
}
.account-dropdown .dropdown__trigger:after {
  content: '\25BE';
  margin: 0 0 0 10px;
}
.account-dropdown__avatar,
.account-dropdown__name {
  vertical-align: middle;
}
.account-dropdown .dropdown__content {
  margin-top: 5px;
  border-top: rgba(0, 0, 0, 0.05) 1px solid;
  background: #ffffff;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}
.account-dropdown__quick-links,
.account-dropdown__management-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.account-dropdown__segment {
  padding: 10px 15px;
  border-bottom: #e1e1e1 1px solid;
}
.account-dropdown__link {
  margin: 5px 0;
}
.code {
  border: #ebebeb 1px solid;
}
