/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */
.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}
.hljs-comment,
.hljs-meta {
  color: #969896;
}
.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}
.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}
.hljs-section,
.hljs-name {
  color: #63a35c;
}
.hljs-tag {
  color: #333333;
}
.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}
.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}
.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.hljs-link {
  text-decoration: underline;
}
.dropdown {
  display: inline-block;
}
.dropdown__content {
  display: none;
  position: absolute;
}
.dropdown__content--active {
  display: block;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  line-height: 1.35;
}
a {
  text-decoration: none;
}
.props-manager {
  list-style-type: none;
  width: 400px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px;
}
.props-manager input,
.props-manager select {
  margin-left: 10px;
}
.props-manager li {
  padding: 10px;
  background: #f6f6f6;
}
.props-manager li:nth-child(even) {
  background: white;
}
.overflow-scroller {
  position: relative;
  width: 400px;
  height: 250px;
  padding: 25px;
  overflow: auto;
  box-shadow: inset rgba(0, 0, 0, 0.15) 0 2px 5px;
  background: #fbfbfb;
}
.overflow-scroller__top-spacer,
.overflow-scroller__bottom-spacer {
  margin-top: 15px;
  margin-bottom: 15px;
  border: #ccc 2px dashed;
}
.overflow-scroller__top-spacer {
  height: 125px;
}
.overflow-scroller__bottom-spacer {
  height: 225px;
}
.example-dropdown__content {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}
.example-dropdown__trigger {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  background: #5f64ff;
  cursor: pointer;
}
.example-dropdown__trigger:after {
  content: '\25BE';
  margin: 0 0 0 10px;
}
.example-dropdown__segment {
  padding: 10px 15px;
  border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
}
.example-dropdown.dropdown--disabled {
  color: #aaa;
}
.code {
  border: #ebebeb 1px solid;
}
#app {
  width: 800px;
  margin: 0 auto;
}
