.dropdown {
    display: inline-block;
}

.dropdown__content {
  display: none;
}

.dropdown__content--active {
  display: block;
}

.dropdown .dropdown__content {
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}
